//====================================================================================================
.hero{
    background-color: $bgColor;
    display: grid;
    padding: toRem(80) toRem(15) 0 toRem(15);
    grid-template-columns: 21.8% 1fr 21.8%;
    &__image{

    }
    &__content{
    
    }
    &__block-header{
    
    }
}

.block-header{
    &__title{
       &--white {
    
        }
        &--big {
        
        }
    }
   
}

//====================================================================================================
